<script type="text/javascript">
		$(document).ready(function(){
			
			$('.mainContainer').blurjs({
				source: 'body',
				offset: {           //Pixel offset of background-position
       					 x: 0,
       					 y: 0
   				 },
				
				overlay: 'rgba(255,255,255,0.7)',
				radius:40,
				debug:'true'
			});
		});
</script>

<div class="mainContainer"><!-- main container -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">AroundUni</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Events</a></li>
            <% if current_user %>  
            <% else %>
            <li><%= link_to "Sign up", regular_users_sign_up_path %></li>
            <% end %>
          </ul>
          <% if current_user %>
          <ul class="nav navbar-nav navbar-right">            
            <li><%= link_to "Log out", log_out_path %></li>              
          <% else %>            
          <form class="navbar-form navbar-right" method="post" action="/sessions" accept-charset="UTF-8">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control" id="email" name="email">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control" id="password" name="password">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
           <% end %>
        </div><!--/.navbar-collapse -->
      </div>
    </div>



<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Special Event</h1>
        <p>Description</p>
        <p><a class="btn btn-primary btn-lg">View details &raquo;</a></p>
      </div>
    </div>
<hr class="seperate"/>
	
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>Event1</h2>
          <p>Description</p>
          <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Event2</h2>
          <p>Description</p>
          <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
       </div>
        <div class="col-lg-4">
          <h2>Event3</h2>
          <p>Description</p>
          <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div>
      </div>
    <hr class="seperate"/>
  </div><!-- main container -->

