
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/events">Around Uni</a>
        </div>
        <div class="navbar-collapse collapse">
        	
        	
        	

          <form accept-charset="UTF-8" action="/sessions" class="navbar-form navbar-right" method="post">
           <input name="utf8" value="✓" type="hidden">
           <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
           <input name="latitude" id="latitude" value="x" type="hidden">
           <input name="longitude" id="longitude" value="x" type="hidden">
           <div class="form-group">
              <input type="text" placeholder="Email" class="form-control" id="email" name="email">
            </div>
            <div class="form-group">
             <input type="password" placeholder="Password" class="form-control" id="password" name="password">
            </div>
            <button type="submit" value="Save changes" name="commit" class="btn btn-success">Sign in</button> 
         </form>
          
        </div><!--/.navbar-collapse -->
      </div>
    </div>


    <div class="container">
      	<h1>Sign up</h1>	
	<hr class="seperate"/>
  <%= form_for(@regular_user) do |f| %>
  <div class="sign_up_form">
    <div class="form-group">
      <input class="form-control" type="text" placeholder="Name"id="regular_user_name" name="regular_user[name]" type="text"></input>
	</div>
    <div class="form-group">
	  <input class="form-control" type="text" placeholder="Email"  id="regular_user_email" name="regular_user[email]"></input>
    </div>
	<div class="form-group">
	  <div id="logtype" name="logtype" class="btn-group" data-toggle="buttons-radio">
        <button type="button" class="btn btn-info">Student</button>
        <button type="button" class="btn btn-info">Partner</button>
      </div>
  	</div>
    <br>
    <div class="form-group">
	  <input class="form-control" placeholder="Password" id="regular_user_password" name="regular_user[password]" type="password"></input>
    </div>
    <div class="form-group">
	  <input class="form-control" placeholder="Re-enter Password" id="regular_user_password_confirmation" name="regular_user[password_confirmation]" type="password"></input>
    </div>
    <div class="controls">
      <button type="submit" class="btn btn-success" >Create My Account</button>
    </div>
  </div>
  <%end%>


      <hr>

      <footer>
        <p>Around Uni 2013</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../js/jquery.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
