<script>
function getLocation()
{
  if (navigator.geolocation)
  {
    navigator.geolocation.watchPosition(setPosition);
  }
  else
  {
  	
  }
}

function setPosition(position)
{
  document.getElementById("special_event_latitude").value = position.coords.latitude;
  document.getElementById("special_event_longitude").value = position.coords.longitude;	
}
</script>

<script>
$( document ).ready(function() {
  getLocation();
});
</script>

	
<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">AroundUni</a></li>
            <li><%= link_to "Log Out", "/log_out" %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Events <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/special_events">My Events</a></li>
                <li><a href="#">My Verifications</a></li>

              </ul>
            </li>
          </ul>
          <form accept-charset="UTF-8" action="<%= new_special_event_path %>" class="navbar-form navbar-right" method="get">
            <button type="submit" class="btn btn-success">Post Event</button> 
         </form>
                  
                
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
  <h1>New Post</h1>
  <hr class="seperate"/>
  <div class = "sign_up_form"><!-- form container -->
    <%= form_for(@special_event) do |f| %>
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" placeholder="Event name" id="special_event_name" name="special_event[name]">
      </div>
        
    <div class="form-group">
      <label>Time</label>
      <!-- time picker -->
      <% time = Time.new %>
      <div class="bfh-timepicker" data-time="<%=time.hour.to_s+":"+time.min.to_s%>">
        <div class="input-group bfh-timepicker-toggle" data-toggle="bfh-timepicker">
          <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
          <input type="text" class="form-control" readonly>
        </div>
        <div class="bfh-timepicker-popover">
          <table class="table">  
            <tbody>
              <tr>
                <td class="hour">
                  <a class="next" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a><br>
                  <input type="text" readonly><br>
                  <a class="previous" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                </td>
                <td class="separator">:</td>
                <td class="minute">
                  <a class="next" href="#"><i class="glyphicon glyphicon-chevron-up"></i></a><br>
                  <input type="text" readonly><br>
                  <a class="previous" href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Location</label>
        <input type="text" class="form-control" placeholder="Latitude" id="special_event_latitude" name="special_event[latitude]">
        <input type="text" class="form-control" placeholder="Longitude" id="special_event_longitude" name="special_event[longitude]">

      </div>      
      <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" rows="3" type="text" placeholder="Write Description" id="special_event_description" name="special_event[description]"></textarea>
      </div>
      <button type="submit" class="btn btn-success">Post</button>
 <% end %>
 
      </div>

      <hr>

      <footer>
        <p>AroundUni 2013</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../js/jquery.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
  

